image: golang:1.17
variables:
  PACKAGE_VERSION: 0.0.5
  CI_COMMIT_TAG: ${PACKAGE_VERSION}

# Section for General Commits

stages:
  - build
  - test
  - release

build on commit:
  stage: build
  script:
    - echo "Is commit tag null?"
    - echo $TAG_VALUE
    - echo "Is commit tag empty?"
    - echo $TAG_VALUE
    - echo "Building go-copy..."
    - go build
  rules:
    - if: ($CI_COMMIT_TAG == "")
      variables:
        TAG_VALUE: "Empty"
    - if: ($CI_COMMIT_TAG == null)
      variables:
        TAG_VALUE: "Null"
test on commit:
  stage: test
  script:
    - echo "Testing go-copy..."
  rules:
    - if: ($CI_COMMIT_TAG == "" || $CI_COMMIT_TAG == null)

# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

# Section for Creating Release Builds for New Tag

build mac amd64:
  stage: build
  script:
    - env GOOS=darwin GOARCH=amd64 go build -o go-copy
  after_script:
    - echo "JOB_DARWIN_AMD64_ID=$CI_JOB_ID" >> job-darwin-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-amd64.env
  rules:
    - if: $CI_COMMIT_TAG

build mac arm64:
  stage: build
  script:
    # this does not sign the build, preventing it from running on a Macbook M1/M2
    - env GOOS=darwin GOARCH=arm64 go build
  after_script:
    - echo "JOB_DARWIN_ARM64_ID=$CI_JOB_ID" >> job-darwin-arm64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-arm64.env
  rules:
    - if: $CI_COMMIT_TAG

build windows amd64:
  stage: build
  script:
    - env GOOS=windows GOARCH=amd64 go build -o go-copy.exe
  after_script:
    - echo "JOB_WINDOWS_AMD64_ID=$CI_JOB_ID" >> job-windows-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./*.exe
    expire_in: never
    reports:
      dotenv: job-windows-amd64.env
  rules:
    - if: $CI_COMMIT_TAG

create release with artifacts:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Create Release " $CI_COMMIT_TAG
  release:
    name: 'Release $CI_COMMIT_TAG'
    tag_name: 'v$CI_COMMIT_TAG'
    description: 'Release go-copy version $CI_COMMIT_TAG'
    assets:
      links:
        - name: "go-copy macos amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_AMD64_ID/artifacts/download"
        - name: "go-copy macos arm64 (unsigned)"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_ARM64_ID/artifacts/download"
        - name: "go-copy windows amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download"
  rules:
    - if: $CI_COMMIT_TAG
