# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

image: tetafro/golang-gcc:1.15-alpine
variables:
  # Package version can only contain numbers (0-9), and dots (.).
  # Must be in the format of X.Y.Z, i.e. should match /\A\d+\.\d+\.\d+\z/ regular expresion.
  # See https://docs.gitlab.com/ee/user/packages/generic_packages/#publish-a-package-file
  PACKAGE_VERSION: 0.0.5
  CI_COMMIT_TAG: ${PACKAGE_VERSION}
  DARWIN_AMD64_BINARY: "myapp-darwin-amd64-${CI_COMMIT_TAG}"
  LINUX_AMD64_BINARY: "myapp-linux-amd64-${CI_COMMIT_TAG}"
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/myapp/${CI_COMMIT_TAG}"

stages:
  - build
  # - test
  - release

build mac amd64:
  stage: build
  script:
    - echo "current branch:"
    - echo $CI_COMMIT_BRANCH
    - echo "${CI_JOB_ID}" > CI_JOB_ID.txt
    - goos=darwin goarch=amd64 go build -o dist/$PACKAGE_VERSION/darwin/amd64
    # - goos=darwin goarch=amd64 go build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job-darwin-amd64.env
  artifacts:
    name: go-copy
    paths:
      - dist/$PACKAGE_VERSION/macos/amd64
      - CI_JOB_ID.txt
    expire_in: never
    reports:
      dotenv: job-darwin-amd64.env

  # rules:
    # - if: $CI_COMMIT_TAG

build mac arm64:
  stage: build
  script:
    - goos=darwin goarch=arm64 go build -o dist/$PACKAGE_VERSION/darwin/arm64
    # - goos=darwin goarch=arm64 go build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job-darwin-arm64.env
  artifacts:
    name: go-copy
    paths:
      - dist/$PACKAGE_VERSION/macos/arm64
    expire_in: never
    reports:
      dotenv: job-darwin-arm64.env
  # rules:
    # - if: $CI_COMMIT_TAG

build windows amd64:
  stage: build
  script:
    - goos=windows goarch=amd64 go build -o dist/$PACKAGE_VERSION/windows/amd64
    # - goos=windows goarch=amd64 go build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job-windows-amd64.env
  artifacts:
    name: go-copy
    paths:
      - dist/$PACKAGE_VERSION/windows/amd64/
    expire_in: never
    reports:
      dotenv: job-windows-amd64.env
  # rules:
    # - if: $CI_COMMIT_TAG

# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

release-windows-amd64:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build windows amd64
      artifacts: true
  variables:
    TAG: '$PACKAGE_VERSION'
    URL: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_ID/artifacts/download"
    NAME: "go-copy.exe"
  script:
    - echo "Create Release " $TAG
    - echo $(cat job-windows-amd64.env)
    - echo $JOB_ID
    - echo ${URL}
    - echo ${NAME}
    - echo ${PACKAGE_REGISTRY_URL}
    - release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \ --assets-link "{\"name\":$NAME,\"url\":$URL}"
  # release:
  #   name: 'Release $TAG'
  #   tag_name: '$TAG'
  #   ref: '$TAG'
  #   description: 'Release with tag $TAG'
  #   assets:
  #     links:
  #       - name: "go-copy windows amd64 ${CI_COMMIT_TAG}"
  #         url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_ID/dist/windows/amd64"
        # - name: go-copy
        #   url: "https://gitlab.com/andrewlader/go-copy/-/jobs/`$JOB_ID`/dist/windows/amd64"

# release:
#   stage: release
#   image: registry.gitlab.com/gitlab-org/release-cli:latest
#   script:
#     - |
#       release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \
#         --assets-link "{\"name\":\"Executable file\",\"url\":\"https://gitlab.com/andrewlader/go-copy/dist/darwin/amd64/*"}"
#     - |
#       release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \
#         --assets-link "{\"name\":\"Executable file\",\"url\":\"https://gitlab.com/andrewlader/go-copy/dist/darwin/arm64/*"}"
#     - |
#       release-cli create --name "Release $CI_COMMIT_TAG" --tag-name $CI_COMMIT_TAG \
#         --assets-link "{\"name\":\"Executable file\",\"url\":\"https://gitlab.com/andrewlader/go-copy/dist/windows/amd64/*"}"
#   # rules:
#     # - if: $CI_COMMIT_TAG
