image: golang:latest

##########
# Section for General Commits
##########

stages:
  - build
  - test
  - release

unit testing on commit:
  stage: test
  script:
    - echo "Testing go-copy..."
    - go test ./... -v
  rules:
    - if: ($CI_COMMIT_TAG == "" || $CI_COMMIT_TAG == null)

# sast testing:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

##########
# Section for Creating Release Builds for New Tag
##########

default:
  before_script:
    - apt add --no-cache git
    - apt add --no-cache go
    - 'printf "`git describe --long`\n`go version`\n`date --rfc-3339=seconds`\n" | tee cmd/go-copy/git-describe.txt'

build mac amd64:
  stage: build
  script:
    - env GOOS=darwin GOARCH=amd64 go build -o go-copy cmd/go-copy/go-copy.go
  after_script:
    - echo "JOB_DARWIN_AMD64_ID=$CI_JOB_ID" >> job-darwin-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-amd64.env
  rules:
    - if: $CI_COMMIT_TAG

build mac arm64:
  stage: build
  script:
    # this does not sign the build, preventing it from running on a Macbook M1/M2
    - env GOOS=darwin GOARCH=arm64 go build cmd/go-copy/go-copy.go
  after_script:
    - echo "JOB_DARWIN_ARM64_ID=$CI_JOB_ID" >> job-darwin-arm64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-arm64.env
  rules:
    - if: $CI_COMMIT_TAG

build linux amd64:
  stage: build
  script:
    - env GOOS=linux GOARCH=amd64 go build cmd/go-copy/go-copy.go
  after_script:
    - echo "JOB_LINUX_AMD64_ID=$CI_JOB_ID" >> job-linux-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-linux-amd64.env
  rules:
    - if: $CI_COMMIT_TAG

build windows amd64:
  stage: build
  script:
    - env GOOS=windows GOARCH=amd64 go build -o go-copy.exe cmd/go-copy/go-copy.go
  after_script:
    - echo "JOB_WINDOWS_AMD64_ID=$CI_JOB_ID" >> job-windows-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./*.exe
    expire_in: never
    reports:
      dotenv: job-windows-amd64.env
  rules:
    - if: $CI_COMMIT_TAG

create release with artifacts:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Create Release " $CI_COMMIT_TAG
  release:
    name: 'Release $CI_COMMIT_TAG'
    tag_name: '$CI_COMMIT_TAG'
    description: 'Release $CI_COMMIT_TAG of go-copy'
    assets:
      links:
        - name: "go-copy macos amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_AMD64_ID/artifacts/download"
        - name: "go-copy macos arm64 (unsigned)"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_ARM64_ID/artifacts/download"
        - name: "go-copy windows amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download"
        - name: "go-copy linux amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_LINUX_AMD64_ID/artifacts/download"
  rules:
    - if: $CI_COMMIT_TAG
