# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

image: tetafro/golang-gcc:1.15-alpine
variables:
  # Package version can only contain numbers (0-9), and dots (.).
  # Must be in the format of X.Y.Z, i.e. should match /\A\d+\.\d+\.\d+\z/ regular expresion.
  # See https://docs.gitlab.com/ee/user/packages/generic_packages/#publish-a-package-file
  PACKAGE_VERSION: "0.0.5"

stages:
  - lint
  - build
  - test
  - release

lint:
  stage: lint
  before_script:
    - wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.41.1
  script:
    - ./bin/golangci-lint run -c .golang-ci.yml
  allow_failure: true

build:
  stage: build
  script:
    - go build

sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml


release:
  stage: release
  image:
      name: goreleaser/goreleaser:v0.164.0
      entrypoint: ["/bin/bash", "-c"]
  only:
    refs:
      - tags
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN

  script:
    - cd "$CI_PROJECT_DIR"
    - goreleaser release --rm-dist
