# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

image: tetafro/golang-gcc:1.15-alpine
variables:
  # Package version can only contain numbers (0-9), and dots (.).
  # Must be in the format of X.Y.Z, i.e. should match /\A\d+\.\d+\.\d+\z/ regular expresion.
  # See https://docs.gitlab.com/ee/user/packages/generic_packages/#publish-a-package-file
  PACKAGE_VERSION: "0.0.5"

stages:
  - build
  # - test
  - generate_executables
  - release

build:
  stage: build
  script:
    - go build -o dist/

# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

generate_executables:
  stage: generate_executables
  script:
    # - goos=darwin goarch=amd64 go build
    # - goos=darwin goarch=arm64 go build
    - goos=windows goarch=amd64 go build -o dist/$PACKAGE_VERSION/windows/amd64
    - ls -al .
  artifacts:
    name: go-copy
    paths:
      # Should be relative to your root directory
      - dist/$PACKAGE_VERSION/macos/amd64
      - dist/$PACKAGE_VERSION/macos/arm64
      - dist/$PACKAGE_VERSION/windows/amd64
