image: tetafro/golang-gcc:1.15-alpine
variables:
  PACKAGE_VERSION: 0.0.5
  CI_COMMIT_TAG: ${PACKAGE_VERSION}

stages:
  - build
  # - test
  - release

build mac amd64:
  stage: build
  script:
    - env GOOS=darwin GOARCH=amd64 go build -o go-copy
  after_script:
    - echo "JOB_DARWIN_AMD64_ID=$CI_JOB_ID" >> job-darwin-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-amd64.env

  # rules:
    # - if: $CI_COMMIT_TAG

build mac arm64:
  stage: build
  script:
    # - echo $CI_PROJECT_DIR
    # - rm -rf ~/.cache/go-build
    # - rm -rf $CI_PROJECT_DIR/pkg
    # - rm -rf $CI_PROJECT_DIR/bin
    # - env GOOS=darwin GOARCH=arm64 go build -o go-copy
    - go env
    - apk --no-cache --update add build-base
    # - env CC="clang" CXX="clang++" GOGCCFLAGS="-fPIC -arch arm64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build531992441=/tmp/go-build -gno-record-gcc-switches" GOOS=darwin GOARCH=arm64 go build
    - env GOOS=darwin GOARCH=arm64 go build
  after_script:
    - echo "JOB_DARWIN_ARM64_ID=$CI_JOB_ID" >> job-darwin-arm64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: never
    reports:
      dotenv: job-darwin-arm64.env
  # rules:
    # - if: $CI_COMMIT_TAG

build windows amd64:
  stage: build
  script:
    - env GOOS=windows GOARCH=amd64 go build -o go-copy.exe
  after_script:
    - echo "JOB_WINDOWS_AMD64_ID=$CI_JOB_ID" >> job-windows-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./*.exe
    expire_in: never
    reports:
      dotenv: job-windows-amd64.env
  # rules:
    # - if: $CI_COMMIT_TAG

# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

release-windows-amd64:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  # needs:
  #   - job: build darwin amd64
  #     artifacts: true
  #   - job: build darwin arm64
  #     artifacts: true
  #   - job: build windows amd64
  #     artifacts: true
  variables:
    TAG: '$CI_COMMIT_TAG'
  script:
    - echo "Create Release " $TAG
  release:
    name: 'Release $TAG'
    tag_name: 'v$TAG'
    description: 'Release go-copy version $TAG'
    assets:
      links:
        - name: "go-copy macos amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_AMD64_ID/artifacts/download"
        - name: "go-copy macos arm64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_ARM64_ID/artifacts/download"
        - name: "go-copy windows amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download"
#   # rules:
#     # - if: $CI_COMMIT_TAG
