image: tetafro/golang-gcc:1.15-alpine
variables:
  PACKAGE_VERSION: 0.0.5
  CI_COMMIT_TAG: ${PACKAGE_VERSION}
  DARWIN_AMD64_BINARY: "myapp-darwin-amd64-${CI_COMMIT_TAG}"
  LINUX_AMD64_BINARY: "myapp-linux-amd64-${CI_COMMIT_TAG}"
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/myapp/${CI_COMMIT_TAG}"

stages:
  - build
  # - test
  - release

build mac amd64:
  stage: build
  script:
    - goos=darwin goarch=amd64 go build -o go-copy
    # - goos=darwin goarch=amd64 go build
  after_script:
    - echo "JOB_DARWIN_AMD64_ID=$CI_JOB_ID" >> job-darwin-amd64.env
    - cat job-darwin-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: 1 days
    reports:
      dotenv: job-darwin-amd64.env

  # rules:
    # - if: $CI_COMMIT_TAG

build mac arm64:
  stage: build
  script:
    - goos=darwin goarch=arm64 go build -o go-copy
    # - goos=darwin goarch=arm64 go build
  after_script:
    - echo "JOB_DARWIN_ARM64_ID=$CI_JOB_ID" >> job-darwin-arm64.env
  artifacts:
    name: go-copy
    paths:
      - ./go-copy
    expire_in: 1 days
    reports:
      dotenv: job-darwin-arm64.env
  # rules:
    # - if: $CI_COMMIT_TAG

build windows amd64:
  stage: build
  script:
    - goos=darwin goarch=amd64 go build -o mac/amd64/go-copy
    - goos=darwin goarch=arm64 go build -o mac/arm64/go-copy
    - goos=windows goarch=amd64 go build -o go-copy.exe
  after_script:
    - echo "JOB_WINDOWS_AMD64_ID=$CI_JOB_ID" >> job-windows-amd64.env
    - cat job-windoows-amd64.env
  artifacts:
    name: go-copy
    paths:
      - ./*.exe
      - mac/amd64
      - mac/arm64
    expire_in: 1 days
    reports:
      dotenv: job-windows-amd64.env
  # rules:
    # - if: $CI_COMMIT_TAG

# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

release-windows-amd64:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build windows amd64
      artifacts: true
  variables:
    TAG: '$CI_COMMIT_TAG'
    URL: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download"
    URL2: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_AMD64_ID/artifacts/download"
    URL3: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_DARWIN_ARM64_ID/artifacts/download"
  script:
    - echo "Create Release " $TAG
    - echo $URL
    - echo $URL2
    - echo $URL3
    - echo $JOB_DARWIN_AMD64_ID
    - echo $JOB_DARWIN_ARM64_ID
    - echo $JOB_WINDOWS_AMD64_ID
  release:
    name: 'Release $TAG'
    tag_name: 'v$TAG'
    description: 'Release go-copy version $TAG'
    assets:
      links:
        - name: "go-copy darwin amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/mac/amd64"
        - name: "go-copy darwin arm64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download/mac/arm64"
        - name: "go-copy windows amd64"
          url: "https://gitlab.com/andrewlader/go-copy/-/jobs/$JOB_WINDOWS_AMD64_ID/artifacts/download"
#   # rules:
#     # - if: $CI_COMMIT_TAG
